@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600;700&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    background: #F6CE92;
}

h2 {
    color: #723800;
    text-align: center;
}

h3 {
    color: #303091;
    text-align: center;
}
img {
    width: 300px;
    height: 300px;
}
.title {
    color: rgb(0, 0, 0);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menú */

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-box {
    background: rgba(255, 251, 0, 0.2);
    border: 2px solid #ad5f0a;
    border-radius: 15px;
    padding: 20px;
}

/* Ubicación */
th {
    border: 2px solid #ad5f0a;
}